body {
    background: #000;
    font-family: "Arial", sans-serif;
}
.container-fluid {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    //////NAV//////
    nav {
        background: #000;
        margin-bottom: 15px;
        .logo {
            margin: auto 150px auto 145px;
        }
        .rectangle {
            margin: auto auto 42px 15px;
        }
        .navigation {
            color: #fff;
            float: right;
            list-style: none;
            margin: -35px 75px auto auto;
            .navigate {
                display: inline-block;
                text-transform: uppercase;
                font-family: "Raleway", sans-serif;
                font-size: 16px;
                font-weight: 700;
                padding-right: 10px;
                clear: both;
                &:hover {
                    color: #286d89;
                    cursor: pointer;
                }
            }
        }
    }
    ////// SECTION "TALK" ///////
    section#talk {
        background-image: url("../img/blue-background.png");
        background-repeat: no-repeat;
        article {
            margin-left: 145px;
            float: left;
            h3 {
                font-weight: 700;
                font-size: 30px;
                color: #fff;
            }
            p {
                font-weight: 400;
                font-size: 16px;
                text-align: left;
                color: #fff;
            }
        }
        aside {
            float: left;
        }
    }
    ////// SECTION "LOCATION" ///////
    section#location {
        clear: both;
        background: #fff;
    }
    h2 {
        font-weight: 600;
        margin-left: 145px;
    }
    aside.dessert {
        float: left;
        margin-left: 145px;
    }
    .recipe {
        font-size: 14px;
        font-weight: 400;
    }
    aside.cookie-names {
        h3 {
            color: #0a8ca3;
        }
    }
    .components {
        font-family: "Arial", sans-serif;
        font-size: 14px;
        font-weight: 400;
        float: left;
    }
    ////// SECTION "WORK"//////
    section#work {
        color:#fff;
        h2{}
        article {
          padding-left:145px;
            p.title {}
            p.about{}

        }
        .gallery{

          img{
            padding:10px;
          }
        }
    }
}
