body {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
}
*,
*::after,
*::before {
    box-sizing: border-box;
}
#container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1349px;
    background: #000;
    color: #fff;
    a.scrollup {
        width: 64px;
        height: 64px;
        text-decoration: none;
        background: url("../img/up.png") no-repeat 0 0;
        position: fixed;
        right: 50px;
        bottom: 50px;
        display: none;
    }
    ///NAV////
    nav {
        width: 100%;
        .logo {
            margin: auto 150px 15px 140px;
        }
        .half-rectangle {
            margin: auto auto 10px 15px;
        }
        .rectangle {
            margin: 5px auto 48px 15px;
        }
        ul.navigation {
            float: right;
            list-style-type: none;
            margin: -35px 245px auto auto;
            li {
                float: left;
                text-transform: uppercase;
                font-family: "Raleway", sans-serif;
                font-size: 16px;
                font-weight: 700;
                padding-right: 15px;
                &:hover {
                    color: #286d89;
                    cursor: pointer;
                }
            }
            a.slow {
                text-decoration: none;
                color: inherit;
            }
        }
    }
    ///////SECTION "TALK"//////
    section#talk {
        float: left;
        background-image: url("../img/blue-background.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        .base {
            float: left;
            margin-left: 140px;
            h3.fruits {
                font-weight: 700;
                font-size: 30px;
            }
            p.info {
                font-weight: 400;
                font-size: 16px;
                text-align: left;
            }
        }
        aside {
            float: left;
            padding-bottom: 11px;
        }
    }
    ////SECTION "LOCATION"//////
    section#location {
        float: left;
        background: #fff;
        color: #000;
        .header {
            float: left;
            width: 100%;
            h2.history {
                float: left;
                width: 40%;
                line-height: 30px;
                font-weight: 700;
                font-size: 30px;
                margin: 10px auto auto 140px;
            }
            h3.bar {
                float: right;
                width: 37%;
                color: #0a8ca3;
                line-height: 43px;
                font-size: 24px;
                margin-top: 10px;
            }
        }
        .dessert {
            float: left;
            width: 20%;
            margin: auto auto 40px 140px;
        }
        .recipe {
            float: left;
            width: 29%;
            margin-left: 20px;
            text-align: left;
            font-size: 14px;
        }
        .cookie-names {
            float: left;
            width: 35%;
            margin-left: 20px;
        }
    }
    ///SECTION "GALLERY"/////
    section#gallery {
        background: #000;
        width: 100%;
        float: left;
        padding-bottom: 30px;
        h2.work {
            padding-left: 140px;
            font-size: 30px;
            width: 100%;
            float: left;
        }
        article {
            float: left;
            width: 17%;
            margin-left: 140px;
        }
        .sweets-pictures {
            float: left;
            width: 66%;
            margin-left: 40px;
            img {
                padding: 5px;
            }
        }
    }
    ///SECTION "FOOD"/////
    section#food {
        float: left;
        width: 100%;
        color: #000;
        h2.best {
            font-weight: 600;
            font-size: 30px;
            margin-left: 140px;
            float: left;
        }
        .information {
            font-size: 16px;
            color: #989797;
            width: 70%;
            margin-left: 140px;
            margin-bottom: 30px;
            float: left;
        }
        .background img {
            float: left;
            max-width: 1349px;
        }
        .information2 {
            float: left;
            width: 60%;
            margin: 25px auto auto 140px;
            color: #989797;
            font-size: 16px;
        }
        .logo2 {
            float: left;
            margin: auto auto 30px 50px;
        }
    }
    ///SECTION "MUFFIN"/////
    section#muffin {
        float: left;
        width: 100%;
        background: #000;
        color: #fff;
        .our-treasure {
            float: left;
            margin-left: 140px;
            img {
                -webkit-transition: all 1s ease;
                -moz-transition: all 1s ease;
                -ms-transition: all 1s ease;
                transition: all 1s ease;
                &:hover {
                    -webkit-filter: grayscale(100%);
                    cursor:pointer;
                }
            }
        }
        h2.delicious {
            float: left;
            width: 40%;
            font-size: 30px;
            margin: 65px auto auto 125px;
        }
        .muffin-info {
            float: left;
            width: 27%;
            margin: 40px auto auto 115px;
        }
        .more {
            float: right;
            margin-right: 30px;
            &:hover {
                text-decoration: underline;
                cursor: pointer;
                margin-right: 35px;
            }
        }
    }
    ///////FOOTER//////
    footer {
        float: left;
        width: 100%;
        background: #fff;
        color: #989797;
        ul.contact {
            float: left;
            list-style-type: none;
            margin-left: 145px;
            li {
                font-family: "Raleway", sans-serif;
                font-size: 24px;
                margin: 20px 40px auto auto;
                &:hover {
                    color: #286d89;
                    text-decoration: underline;
                    cursor: pointer;
                }
                .other {
                    font-weight: 300;
                    margin-left: 25px;
                }
            }
        }
        hr {
            float: left;
            width: 70%;
            margin-left: 140px;
        }
        .ownership {
            float: left;
            margin: 5px auto 10px 290px;
            font-size: 12px;
        }
    }
}
