// SASS OTHER  FILES//
body{
  background: #000;
  font-family: 'Raleway', sans-serif;
}
.container-fluid{
 max-width: 1200px;
 margin: 0 auto;
 padding: 10px;
  #nav{
    background: #000;
    display:inline;
    border:1px solid green;
    .logo{
      margin-right:260px;
    }
    .rectangle{
      margin-left: 15px;
      margin-bottom: 42px;
    }
    .navigation{
      color: #fff;
      float:right;
      list-style: none;
      margin-right:115px;
      padding-left: 0px;
      margin-top: -35px;
      .navigate{
        display:inline-block;
        font-size: 16px;
        font-weight: 700;
        padding-right:10px;
        &:hover{
          color:#286d89;
          cursor:pointer;
        }
      }
    }
  }
}
